.asciinema-player-wrapper {
  position: relative;
  text-align: center;
  outline: none;
}
.asciinema-player-wrapper .title-bar {
  display: none;
  top: -78px;
  transition: top 0.15s linear;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: content-box;
  font-size: 20px;
  line-height: 1em;
  padding: 15px;
  font-family: sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.asciinema-player-wrapper .title-bar img {
  vertical-align: middle;
  height: 48px;
  margin-right: 16px;
}
.asciinema-player-wrapper .title-bar a {
  color: white;
  text-decoration: underline;
}
.asciinema-player-wrapper .title-bar a:hover {
  text-decoration: none;
}
.asciinema-player-wrapper:fullscreen {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.asciinema-player-wrapper:fullscreen .asciinema-player {
  position: static;
}
.asciinema-player-wrapper:fullscreen .title-bar {
  display: initial;
}
.asciinema-player-wrapper:fullscreen.hud .title-bar {
  top: 0;
}
.asciinema-player-wrapper:-webkit-full-screen {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.asciinema-player-wrapper:-webkit-full-screen .asciinema-player {
  position: static;
}
.asciinema-player-wrapper:-webkit-full-screen .title-bar {
  display: initial;
}
.asciinema-player-wrapper:-webkit-full-screen.hud .title-bar {
  top: 0;
}
.asciinema-player-wrapper:-moz-full-screen {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.asciinema-player-wrapper:-moz-full-screen .asciinema-player {
  position: static;
}
.asciinema-player-wrapper:-moz-full-screen .title-bar {
  display: initial;
}
.asciinema-player-wrapper:-moz-full-screen.hud .title-bar {
  top: 0;
}
.asciinema-player-wrapper:-ms-fullscreen {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.asciinema-player-wrapper:-ms-fullscreen .asciinema-player {
  position: static;
}
.asciinema-player-wrapper:-ms-fullscreen .title-bar {
  display: initial;
}
.asciinema-player-wrapper:-ms-fullscreen.hud .title-bar {
  top: 0;
}
.asciinema-player-wrapper .asciinema-player {
  text-align: left;
  display: inline-block;
  padding: 0px;
  position: relative;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  overflow: hidden;
  max-width: 100%;
}
.asciinema-terminal {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  overflow: hidden;
  padding: 0;
  margin: 0px;
  display: block;
  white-space: pre;
  border: 0;
  word-wrap: normal;
  word-break: normal;
  border-radius: 0;
  border-style: solid;
  cursor: text;
  border-width: 0.5em;
  font-family: Consolas, Menlo, 'Bitstream Vera Sans Mono', monospace, 'Powerline Symbols';
  line-height: 1.3333333333em;
}
.asciinema-terminal .line {
  letter-spacing: normal;
  overflow: hidden;
  height: 1.3333333333em;
}
.asciinema-terminal .line span {
  padding: 0;
  display: inline-block;
  height: 1.3333333333em;
}
.asciinema-terminal .line {
  display: block;
  width: 200%;
}
.asciinema-terminal .bright {
  font-weight: bold;
}
.asciinema-terminal .underline {
  text-decoration: underline;
}
.asciinema-terminal .italic {
  font-style: italic;
}
.asciinema-terminal.font-small {
  font-size: 12px;
}
.asciinema-terminal.font-medium {
  font-size: 18px;
}
.asciinema-terminal.font-big {
  font-size: 24px;
}
.asciinema-player .control-bar {
  width: 100%;
  height: 32px;
  background: rgba(0, 0, 0, 0.8);
  /* no gradient fallback */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, #000000 25%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, #000000 25%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, #000000 25%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #bbbbbb;
  box-sizing: content-box;
  line-height: 1;
  position: absolute;
  bottom: -35px;
  left: 0;
  transition: bottom 0.15s linear;
}
.asciinema-player .control-bar * {
  box-sizing: inherit;
  font-size: 0;
}
.asciinema-player .control-bar svg.icon path {
  fill: #bbbbbb;
}
.asciinema-player .control-bar .playback-button {
  display: block;
  float: left;
  cursor: pointer;
  height: 12px;
  width: 12px;
  padding: 10px;
}
.asciinema-player .control-bar .playback-button svg {
  height: 12px;
  width: 12px;
}
.asciinema-player .control-bar .timer {
  display: block;
  float: left;
  width: 50px;
  height: 100%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 32px;
  cursor: default;
}
.asciinema-player .control-bar .timer span {
  display: inline-block;
  font-size: inherit;
}
.asciinema-player .control-bar .timer .time-remaining {
  display: none;
}
.asciinema-player .control-bar .timer:hover .time-elapsed {
  display: none;
}
.asciinema-player .control-bar .timer:hover .time-remaining {
  display: inline;
}
.asciinema-player .control-bar .progressbar {
  display: block;
  overflow: hidden;
  height: 100%;
  padding: 0 10px;
}
.asciinema-player .control-bar .progressbar .bar {
  display: block;
  cursor: pointer;
  height: 100%;
  padding-top: 15px;
  font-size: 0;
}
.asciinema-player .control-bar .progressbar .bar .gutter {
  display: block;
  height: 3px;
  background-color: #333;
}
.asciinema-player .control-bar .progressbar .bar .gutter span {
  display: inline-block;
  height: 100%;
  background-color: #bbbbbb;
  border-radius: 3px;
}
.asciinema-player .control-bar.live .progressbar .bar {
  cursor: default;
}
.asciinema-player .control-bar .fullscreen-button {
  display: block;
  float: right;
  width: 14px;
  height: 14px;
  padding: 9px;
  cursor: pointer;
}
.asciinema-player .control-bar .fullscreen-button svg {
  width: 14px;
  height: 14px;
}
.asciinema-player .control-bar .fullscreen-button svg:first-child {
  display: inline;
}
.asciinema-player .control-bar .fullscreen-button svg:last-child {
  display: none;
}
.asciinema-player-wrapper.hud .control-bar {
  bottom: 0px;
}
.asciinema-player-wrapper:fullscreen .fullscreen-button svg:first-child {
  display: none;
}
.asciinema-player-wrapper:fullscreen .fullscreen-button svg:last-child {
  display: inline;
}
.asciinema-player-wrapper:-webkit-full-screen .fullscreen-button svg:first-child {
  display: none;
}
.asciinema-player-wrapper:-webkit-full-screen .fullscreen-button svg:last-child {
  display: inline;
}
.asciinema-player-wrapper:-moz-full-screen .fullscreen-button svg:first-child {
  display: none;
}
.asciinema-player-wrapper:-moz-full-screen .fullscreen-button svg:last-child {
  display: inline;
}
.asciinema-player-wrapper:-ms-fullscreen .fullscreen-button svg:first-child {
  display: none;
}
.asciinema-player-wrapper:-ms-fullscreen .fullscreen-button svg:last-child {
  display: inline;
}
.asciinema-player .loading {
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}
.asciinema-player .start-prompt {
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 32px;
  z-index: 20;
  cursor: pointer;
}
.asciinema-player .start-prompt .play-button {
  font-size: 0px;
}
.asciinema-player .start-prompt .play-button {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  display: table;
  width: 100%;
  height: 100%;
}
.asciinema-player .start-prompt .play-button div {
  vertical-align: middle;
  display: table-cell;
}
.asciinema-player .start-prompt .play-button div span {
  width: 96px;
  height: 96px;
  display: inline-block;
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}
@-moz-keyframes expand {
  0% {
    -moz-transform: scale(0);
  }
  50% {
    -moz-transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}
@-o-keyframes expand {
  0% {
    -o-transform: scale(0);
  }
  50% {
    -o-transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}
@keyframes expand {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 6.66667px #141414;
  width: 40px;
  height: 40px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -21px 0 0 -21px;
  border-radius: 50%;
  z-index: 2;
  width: 42px;
  height: 42px;
}
.loader:before {
  background-color: #141414;
  -webkit-animation: expand 1.6s linear infinite both;
  -moz-animation: expand 1.6s linear infinite both;
  animation: expand 1.6s linear infinite both;
}
.loader:after {
  background-color: white;
  -webkit-animation: expand 1.6s linear 0.8s infinite both;
  -moz-animation: expand 1.6s linear 0.8s infinite both;
  animation: expand 1.6s linear 0.8s infinite both;
}
.asciinema-terminal .fg-16 {
  color: #000000;
}
.asciinema-terminal .bg-16 {
  background-color: #000000;
}
.asciinema-terminal .fg-17 {
  color: #00005f;
}
.asciinema-terminal .bg-17 {
  background-color: #00005f;
}
.asciinema-terminal .fg-18 {
  color: #000087;
}
.asciinema-terminal .bg-18 {
  background-color: #000087;
}
.asciinema-terminal .fg-19 {
  color: #0000af;
}
.asciinema-terminal .bg-19 {
  background-color: #0000af;
}
.asciinema-terminal .fg-20 {
  color: #0000d7;
}
.asciinema-terminal .bg-20 {
  background-color: #0000d7;
}
.asciinema-terminal .fg-21 {
  color: #0000ff;
}
.asciinema-terminal .bg-21 {
  background-color: #0000ff;
}
.asciinema-terminal .fg-22 {
  color: #005f00;
}
.asciinema-terminal .bg-22 {
  background-color: #005f00;
}
.asciinema-terminal .fg-23 {
  color: #005f5f;
}
.asciinema-terminal .bg-23 {
  background-color: #005f5f;
}
.asciinema-terminal .fg-24 {
  color: #005f87;
}
.asciinema-terminal .bg-24 {
  background-color: #005f87;
}
.asciinema-terminal .fg-25 {
  color: #005faf;
}
.asciinema-terminal .bg-25 {
  background-color: #005faf;
}
.asciinema-terminal .fg-26 {
  color: #005fd7;
}
.asciinema-terminal .bg-26 {
  background-color: #005fd7;
}
.asciinema-terminal .fg-27 {
  color: #005fff;
}
.asciinema-terminal .bg-27 {
  background-color: #005fff;
}
.asciinema-terminal .fg-28 {
  color: #008700;
}
.asciinema-terminal .bg-28 {
  background-color: #008700;
}
.asciinema-terminal .fg-29 {
  color: #00875f;
}
.asciinema-terminal .bg-29 {
  background-color: #00875f;
}
.asciinema-terminal .fg-30 {
  color: #008787;
}
.asciinema-terminal .bg-30 {
  background-color: #008787;
}
.asciinema-terminal .fg-31 {
  color: #0087af;
}
.asciinema-terminal .bg-31 {
  background-color: #0087af;
}
.asciinema-terminal .fg-32 {
  color: #0087d7;
}
.asciinema-terminal .bg-32 {
  background-color: #0087d7;
}
.asciinema-terminal .fg-33 {
  color: #0087ff;
}
.asciinema-terminal .bg-33 {
  background-color: #0087ff;
}
.asciinema-terminal .fg-34 {
  color: #00af00;
}
.asciinema-terminal .bg-34 {
  background-color: #00af00;
}
.asciinema-terminal .fg-35 {
  color: #00af5f;
}
.asciinema-terminal .bg-35 {
  background-color: #00af5f;
}
.asciinema-terminal .fg-36 {
  color: #00af87;
}
.asciinema-terminal .bg-36 {
  background-color: #00af87;
}
.asciinema-terminal .fg-37 {
  color: #00afaf;
}
.asciinema-terminal .bg-37 {
  background-color: #00afaf;
}
.asciinema-terminal .fg-38 {
  color: #00afd7;
}
.asciinema-terminal .bg-38 {
  background-color: #00afd7;
}
.asciinema-terminal .fg-39 {
  color: #00afff;
}
.asciinema-terminal .bg-39 {
  background-color: #00afff;
}
.asciinema-terminal .fg-40 {
  color: #00d700;
}
.asciinema-terminal .bg-40 {
  background-color: #00d700;
}
.asciinema-terminal .fg-41 {
  color: #00d75f;
}
.asciinema-terminal .bg-41 {
  background-color: #00d75f;
}
.asciinema-terminal .fg-42 {
  color: #00d787;
}
.asciinema-terminal .bg-42 {
  background-color: #00d787;
}
.asciinema-terminal .fg-43 {
  color: #00d7af;
}
.asciinema-terminal .bg-43 {
  background-color: #00d7af;
}
.asciinema-terminal .fg-44 {
  color: #00d7d7;
}
.asciinema-terminal .bg-44 {
  background-color: #00d7d7;
}
.asciinema-terminal .fg-45 {
  color: #00d7ff;
}
.asciinema-terminal .bg-45 {
  background-color: #00d7ff;
}
.asciinema-terminal .fg-46 {
  color: #00ff00;
}
.asciinema-terminal .bg-46 {
  background-color: #00ff00;
}
.asciinema-terminal .fg-47 {
  color: #00ff5f;
}
.asciinema-terminal .bg-47 {
  background-color: #00ff5f;
}
.asciinema-terminal .fg-48 {
  color: #00ff87;
}
.asciinema-terminal .bg-48 {
  background-color: #00ff87;
}
.asciinema-terminal .fg-49 {
  color: #00ffaf;
}
.asciinema-terminal .bg-49 {
  background-color: #00ffaf;
}
.asciinema-terminal .fg-50 {
  color: #00ffd7;
}
.asciinema-terminal .bg-50 {
  background-color: #00ffd7;
}
.asciinema-terminal .fg-51 {
  color: #00ffff;
}
.asciinema-terminal .bg-51 {
  background-color: #00ffff;
}
.asciinema-terminal .fg-52 {
  color: #5f0000;
}
.asciinema-terminal .bg-52 {
  background-color: #5f0000;
}
.asciinema-terminal .fg-53 {
  color: #5f005f;
}
.asciinema-terminal .bg-53 {
  background-color: #5f005f;
}
.asciinema-terminal .fg-54 {
  color: #5f0087;
}
.asciinema-terminal .bg-54 {
  background-color: #5f0087;
}
.asciinema-terminal .fg-55 {
  color: #5f00af;
}
.asciinema-terminal .bg-55 {
  background-color: #5f00af;
}
.asciinema-terminal .fg-56 {
  color: #5f00d7;
}
.asciinema-terminal .bg-56 {
  background-color: #5f00d7;
}
.asciinema-terminal .fg-57 {
  color: #5f00ff;
}
.asciinema-terminal .bg-57 {
  background-color: #5f00ff;
}
.asciinema-terminal .fg-58 {
  color: #5f5f00;
}
.asciinema-terminal .bg-58 {
  background-color: #5f5f00;
}
.asciinema-terminal .fg-59 {
  color: #5f5f5f;
}
.asciinema-terminal .bg-59 {
  background-color: #5f5f5f;
}
.asciinema-terminal .fg-60 {
  color: #5f5f87;
}
.asciinema-terminal .bg-60 {
  background-color: #5f5f87;
}
.asciinema-terminal .fg-61 {
  color: #5f5faf;
}
.asciinema-terminal .bg-61 {
  background-color: #5f5faf;
}
.asciinema-terminal .fg-62 {
  color: #5f5fd7;
}
.asciinema-terminal .bg-62 {
  background-color: #5f5fd7;
}
.asciinema-terminal .fg-63 {
  color: #5f5fff;
}
.asciinema-terminal .bg-63 {
  background-color: #5f5fff;
}
.asciinema-terminal .fg-64 {
  color: #5f8700;
}
.asciinema-terminal .bg-64 {
  background-color: #5f8700;
}
.asciinema-terminal .fg-65 {
  color: #5f875f;
}
.asciinema-terminal .bg-65 {
  background-color: #5f875f;
}
.asciinema-terminal .fg-66 {
  color: #5f8787;
}
.asciinema-terminal .bg-66 {
  background-color: #5f8787;
}
.asciinema-terminal .fg-67 {
  color: #5f87af;
}
.asciinema-terminal .bg-67 {
  background-color: #5f87af;
}
.asciinema-terminal .fg-68 {
  color: #5f87d7;
}
.asciinema-terminal .bg-68 {
  background-color: #5f87d7;
}
.asciinema-terminal .fg-69 {
  color: #5f87ff;
}
.asciinema-terminal .bg-69 {
  background-color: #5f87ff;
}
.asciinema-terminal .fg-70 {
  color: #5faf00;
}
.asciinema-terminal .bg-70 {
  background-color: #5faf00;
}
.asciinema-terminal .fg-71 {
  color: #5faf5f;
}
.asciinema-terminal .bg-71 {
  background-color: #5faf5f;
}
.asciinema-terminal .fg-72 {
  color: #5faf87;
}
.asciinema-terminal .bg-72 {
  background-color: #5faf87;
}
.asciinema-terminal .fg-73 {
  color: #5fafaf;
}
.asciinema-terminal .bg-73 {
  background-color: #5fafaf;
}
.asciinema-terminal .fg-74 {
  color: #5fafd7;
}
.asciinema-terminal .bg-74 {
  background-color: #5fafd7;
}
.asciinema-terminal .fg-75 {
  color: #5fafff;
}
.asciinema-terminal .bg-75 {
  background-color: #5fafff;
}
.asciinema-terminal .fg-76 {
